<h1>Прототип страницы просмотра работы галереи</h1>

<p>
  Прототип галереи 3D-работ с модальной навигацией (shareable URL) и системой бирок — интерактивной привязкой моделей к точкам на изображении.
</p>

<p>
  При нажатии на карточку работы в галерее открываться попап на весь экран с изменением адреса ссылки.<br>
  Если скопировать адрес и вставить в соседней вкладке, открывается полноценная страница.
</p>
<p>
  С помощью кнопок навигации (вперёд/назад) работы можно листать.
</p>

<div class="images-block">
  <img class="image_01" src="/assets/images/main/main-01-01.png">
  <img class="image_01" src="/assets/images/main/main-01-02.png">
</div>

<h2 class="labels-title">
  Бирки
  <img src="/assets/images/gallery/cursor-plus.png"/>
</h2>
<p>Под бирками подразумеваются 3d-модели из каталога, которые автор использовал в своей работе.</p>
<p>Бирки можно просматривать, добавлять и удалять, как в попапе, так и на странице работы.</p>

<p>
  При клике появляется карточка просмотра.
</p>
<div class="images-block">
  <img src="/assets/images/main/main-label-01.png" alt="Просмотр бирки" title="Просмотр бирки" />
</div>

<h2>Добавление бирки</h2>
<p>Выбираем модель из каталога и копируем её url.
  <br>Справа от страницы просмотра работы расположена инструментальная панель.
  <br>Ищем нужную галерею и включаем режим добавления бирок.
</p>
<div class="images-block">
  <img class="image_01" src="/assets/images/main/main-label-02.png"/>
  <img class="image_01" src="/assets/images/main/main-label-03.png"/>
</div>

<p>
  В галерее может быть несколько картинок, выбираем нужную.
  <br>По клику позиция бирки фиксируется и открывается форма добавления.
  <br>Вставляем ссылку из буфера обмена, выбираем "Добавить".
  <br>Создается бирка, открывается окно просмотра.
</p>

<div class="images-block">
  <img src="/assets/images/main/main-label-04.png" class="image_01">
  <img src="/assets/images/main/main-label-05-1.png" class="image_01">
</div>

<p>
  Удаление бирки - иконка корзины в правом нижнем углу карточки просмотра.
</p>

